#main-carousel img {
	margin: 0px;
	min-width: 100%;
	max-height: 600px;
}

.pagination a {
	vertical-align: middle !important;
}
.hidden
{
	display: none;
}
/*modal*/
.modal-header {
	background: #33b5e5;
	color: white;
}

.modal-header .close span {
	color: white;
}

/*button form*/
.modal-body a {
	font-weight: 600;
	min-width: 15%;
}

.modal-body .btn-submit, .btn-next, .btn-submit-file-exel, .btn-ok,
	.btn-delete-alert-ok {
	background: #33b5e5 !important;
	margin-left: 10%;
	color: white !important;
}

.modal-body .btn-delete-alert-ok {
	background: #4BB543 !important;
}

.modal-body .btn-back {
	background: #eb8034 !important;
	color: white !important;
}

.modal-body .btn-cancel {
	margin-right: 10%;
	border: 1px solid #33b5e5 !important;
	color: #33b5e5 !important;
}
#menu-top li:hover span
{
	color: #1cc88a !important;
}