.content-container
{
	min-height: 90vh;
	height: 90vh;
	max-height: 90vh;
	overflow: auto;
}
.card-container {
	height: 28vh !important;
	max-height: 28vh !important;
	min-height: 28vh !important;
}

.card-body {
	height: 20vh !important;
	max-height: 20vh !important;
	min-height: 20vh !important;
}

.card-header {
	background:#a3f7a7	;
	height: 8vh !important;
	max-height: 8vh !important;
	min-height: 8vh !important;
}

