.wrap-editor ul {
    list-style-type: circle !important;
    margin-left: 15px !important;
}
.wrap-editor ul li{
    list-style-type: circle !important;
    margin-left: 15px !important;
}

.selected
{
	background: #e1e6ed;
}

#modal-select-subject .table-responsive{
	height: 50vh;
	min-height: 50vh;
	max-height: 50vh;
	overflow: auto;
}
#table-data-body tr:nth-child(odd) {
	background-color:#f0f2f5;
}
#pagination li
{
	color :#858796 !important;
}

/*check box*/
