table td
{
	box-sizing: border-box;
}
.column0 {
	width: 5%;
	padding-left: 10px;
}
.column1 {
	width: 10%;
}

.column2 {
	width: 11%;
}

.column3 {
	width: 6%;
}

.column4 {
	width: 10%;
}

.column5 {
	width: 10%;
}

.column6 {
	width: 12%;
}

.column7 {
	width: 12%;
}
.column8 {
	width: 7%;
}
.column9 {
	width: 7%;
}
.column10 {
	width: 10%;
}

table
{
	table-layout: fixed;
}

/*font size table*/
.table-data-head th {
	padding-top: 16px;
	padding-right: 0px !important;
	font-size: max(1vw ,15px) !important;
}

.table-data-body td {
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: max(0.9vw ,13px) !important;
}

