.column0 {
	width: 7%;
	padding-left: 10px;
}
.column1 {
	width: 7%;
	padding-left: 10px;
}

.column2 {
	width: 18%;
}

.column3 {
	width: 23%;
}

.column4 {
	width: 35%;
}

.column5 {
	width: 10%;
}

